<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Universidad Tecnológica de Tamaulipas Norte</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*Html.ActionLink("UTTN", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="font-family: 'Roboto Condensed', sans-serif; font-size: 1.5rem; text-transform:uppercase">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Privacidad", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    @if (User.IsInRole("Administrador") || User.IsInRole("Usuario"))
                    {
                        <li>@Html.ActionLink("Organigramas", "Index", "Organigrama")</li>
                    }
                    @if (User.IsInRole("Administrador"))
                    {
                        <li>@Html.ActionLink("Usuarios", "Usuarios", "Organigrama")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="text-align:center">&copy; @DateTime.Now.Year - Universidad Tecnológica de Tamaulipas Norte</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<!--
.---------------------------------------------------------------------------------------------------.
|  Software: Sistema web para el control de organigramas                                            |
|  Version: 1.0                                                                                     |
| ------------------------------------------------------------------------------------------------- |
|  Author: Homero Francisco Resendiz Garcia                                                         |
|                                                                                                   |
|  Copyright (c) @DateTime.Now.Year, Universidad Tecnológica de Tamaulipas Norte. All Rights Reserved.            |
'---------------------------------------------------------------------------------------------------'
-->
